@import 'tailwindcss';

@layer base {
	dialog {
		margin: auto;
	}
}

@custom-variant hocus (&:hover, &:focus);

@theme {
	--color-sg-outline: var(--color-gray-300);
	--color-sg-outline-active: var(--color-gray-500);
	--color-sg-text: light-dark(#000000, #ffffff);
	--color-sg-link: var(--color-blue-700);
	--color-sg-background: light-dark(#ffffff, #1f1f1f);
}

:root {
	/* color-scheme: light dark; */
	color: var(--color-sg-text);
	background-color: var(--color-sg-background);
}
